@page "/CreateContactos"
@using Library
@using GymHyR.Services
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveAuto
@inject ContactosServices contactosServices
@inject NavigationManager navigationManager
@inject NotificationService notificationServices
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Contactos</PageTitle>

<RadzenNotification />
<EditForm Model="contactos" OnValidSubmit="Guardar" FormName="Contactos">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Contactos</h3>
            </div>
            <div class="row card-body">
                <div class="col-4">
                    @*Contacto Id*@
                    <label class="form-label" for="ContactoId"><strong>Contacto Id:</strong></label>
                    <InputNumber id="ContactoId" class="form-control" @bind-Value="contactos.ContactoId" readonly></InputNumber>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Nombre</label>
                    <div class="input-group mb-3">
                        <InputText id="nombre" class="form-control" @bind-Value="contactos.Descripcion" placeholder="Ej: Proteina 200g"></InputText>
                        <ValidationMessage For="@(() => contactos.Descripcion)"></ValidationMessage>
                    </div>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-floppy-fill"></i> Guardar</button>
                    <a href="/ProveedoresIndex" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Volver</a>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Contactos contactos = new Contactos();

    public async Task Guardar()
    {
        if (string.IsNullOrEmpty(contactos.Descripcion))
        {

            var Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Error al guardar",
                    Detail = "debe de llenar todos los campos",
                    Duration = 1_000
                };
            notificationServices.Notify(Mensaje);
            return;
        }

        var response = await contactosServices.PostContactos(contactos);
        if (response != null)
        {
            var Mensaje1 = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                        Summary = "Guardado",
                    Detail = "Contacto guardado con exito",
                    Duration = 1000
                };
            notificationServices.Notify(Mensaje1);
            await Task.Delay(1000);
            navigationManager.NavigateTo("/ProveedoresIndex");
        }
        else
        {
            var Mensaje1 = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Vuelva a intentarlo",
                    Duration = 1000
                };
            notificationServices.Notify(Mensaje1);
        }
    }
}
