@page "/PedidosIndexAdmin"
@using Library
@using Microsoft.AspNetCore.Authorization
@using GymHyR.Services
@inject PedidosServices pedidosServices
@inject NotificationService notificationServices
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Pedidos</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">

            <h3><strong>Pedidos</strong></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>Fecha</th>@*
                        <th>Pagado</th> *@
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in pedidos)
                    {
                        <tr>
                            <td>@pedido.PedidoId</td>
                            <td>@pedido.FechaPedido.ToShortDateString()</td>@*
                        <td>@pedido.Pagado</td> *@
                            <td>
                                <div>
                                    @*  <a href="/EditCompra/@compra.CompraId" class="btn btn-outline-primary"><i class="bi bi-pencil-fill" /> Editar</a> *@
                                    <a href="/ViewPedidosAdmin/@pedido.PedidoId" class="btn btn-outline-primary"><i class="bi bi-eyes" /> View</a>
                                    <a href="/DeletePedidosAdmin/@pedido.PedidoId" class="btn btn-outline-danger"><i class="bi bi-trash-fill" /> Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


@code {
    private List<Pedidos> pedidos = new List<Pedidos>();

    protected override async Task OnInitializedAsync()
    {
        pedidos = (await pedidosServices.GetPedidos()).ToList();
    }

}
