@page "/"
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>


<div class="d-flex justify-content-center">
    <img src="/Imagenes/Logo.png" style="width: 300px; height: auto; margin-right: 10px;" />
</div>
<div class="container fondo">
    <h1 class="LetrasMenu"><strong>Men&uacute; Principal</strong></h1>

    <div class="container">
        <div class="card shadow-lg contenedor">
            @* <div class="card-header">
            <h3><strong>Men&uacute;</strong></h3>
            </div> *@
            <div class="card-body">
                @*Fila #1*@
                <AuthorizeView Roles="Admin">
                    <Authorized>

                        <div class="row justify-content-center mb-5">
                            @*Clientes*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAClientes">
                                    <h6><strong>Clientes</strong></h6>
                                    <img src="Imagenes/Cliente1.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                            @*Proveedores*@
                            <div class="col-md-3 text-center">
                                <button class="d-block mx-auto borde" @onclick="IrAProveedores">
                                    <h6><strong>Proveedores</strong></h6>
                                    <img src="Imagenes/Proveedores.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                            @*Inventario*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAProductos">
                                    <h6><strong>Inventario</strong></h6>
                                    <img src="Imagenes/Inventario.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                        </div>


                        @*Fila #2*@
                        <div class="row justify-content-center mb-5">
                            @*Ventas*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAVentas">
                                    <h6><strong>Ventas</strong></h6>
                                    <img src="Imagenes/Ventas.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                            @*Categorias*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrACompra">
                                    <h6><strong>Compras</strong></h6>
                                    <img src="Imagenes/Compra.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                            @*Membresia*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrMembresia">
                                    <h6><strong>Membresia</strong></h6>
                                    <img src="Imagenes/Membresia.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>

                            @*Confirmar*@
                           @*  <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAConfirmar">
                                    <h6><strong>Confirmar</strong></h6>
                                    <img src="Imagenes/Confirmar.jpg" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" /> 

                                </button>
                            </div> *@
                        </div>

                        <div class="row justify-content-center mb-5">
                                    @*Visitas*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAVisitas">
                                    <h6><strong>Visitas</strong></h6>
                                    <img src="Imagenes/Visitas.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>

                            @*Entrenadores*@
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAEntrenadores">
                                    <h6><strong>Entrenadores</strong></h6>
                                    <img src="Imagenes/Entrenador.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />

                                </button>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="d-block mx-auto borde" @onclick="IrAPedidosA">
                                    <h6><strong>Pedidos</strong></h6>
                                    <img src="Imagenes/Pedidos.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                                </button>
                            </div>
                        </div>


                    </Authorized>
                </AuthorizeView> 
                
                <AuthorizeView Roles="Cliente">
                    <Authorized>
                        <div class="row justify-content-center mb-5">
                            <button class="d-block mx-auto borde" @onclick="IrAPedidosC">
                                <h6><strong>Pedidos</strong></h6>
                                <img src="Imagenes/Pedidos.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                            </button>
                        </div>
                    </Authorized>
                </AuthorizeView>

                @*Fila #3*@
                <div class="row justify-content-center mb-5">
                    @*Calculadora*@
                    <button class="d-block mx-auto borde" @onclick="IrACalculadora">
                        <h6><strong>Calculadora</strong></h6>
                        <img src="Imagenes/Calculadora.png" class="icon" style="width: 150px; height: 150px; margin-right: 10px;" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private void IrAClientes()
    {
        navigation.NavigateTo("/ClientesIndex");
    }

    private void IrAProveedores()
    {
        navigation.NavigateTo("/ProveedoresIndex");
    }
    private void IrACompra()
    {
        navigation.NavigateTo("/CompraIndex");
    }
    private void IrAVentas()
    {
        navigation.NavigateTo("/VIndex");
    }
    private void IrAProductos()
    {
        navigation.NavigateTo("/InventarioIndex");
    }
    private void IrMembresia()
    {
        navigation.NavigateTo("/IndexMembresia");
    }
    private void IrACalculadora()
    {
        navigation.NavigateTo("/Calculadora");
    }
    private void IrAPedidosC()
    {
        navigation.NavigateTo("/PedidosIndex");
    }
    private void IrAPedidosA()
    {
        navigation.NavigateTo("/PedidosIndexAdmin");
    }
    private void IrAVisitas()
    {
        navigation.NavigateTo("/VisitasIndex");
    }

    private void IrAEntrenadores()
    {
        navigation.NavigateTo("/IndexEntrenador");
    }

    private void IrAConfirmar()
    {
        navigation.NavigateTo("/Create_Cita");
    }
}
