.fondo {
    background-color: #ff6a00;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 3);
}
.LetrasMenu {
    margin: 10px 10px 0 10px;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.contenedor {
    border-radius: 0 0 5px 5px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
}