@page "/Account/AccessDenied"

<PageTitle>Accesso Denegado</PageTitle>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="fondo  col-lg-3 col-xl-4" style="border-radius: 1rem;">

                <div class="d-flex justify-content-center">
                    <img src="/Imagenes/Logo.png" style="width: 300px; height: auto; margin-right: 10px;" />
                </div>

                <div class="card-body p-5 text-center">

                    <h2 class="fw-bold mb-2 text-uppercase">No tienes acceso de administrador</h2>

                    <div class="tab-content">
                        <form>
                            <p>
                                <a href="/ " class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Volver</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
